@{
    ViewBag.Title = "Migx, me empresta?";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-body">
    <div class="">
        <div class="container">
            <div class="row">
                <img class="logoLogin" src="@Url.Content("~/Content/Images/logo.png")" />
            </div>
            <br />
            <div class="row">
                <div class="">
                    <form class="col-lg-6 form-box" method="post" action="@Url.Action("login","login")">
                        <div class="col-lg-10 form-login">
                            <div class="form-group">
                                <label for="inputEmail">Login</label>
                                <input type="email" id="inputEmail" name="email" class="form-control" required autofocus />
                            </div>

                            <div class="form-group">
                                <label for="inputPass">Senha</label>
                                <input type="password" id="inputPass" name="senha" class="form-control" required />
                            </div>

                            <div class="form-group pull-center">
                                <button class="btn btn-default btn-lg btn-block btn-login" type="submit">Entrar</button>
                            </div>
                            <div class="text-center espaco">
                                <span class="text-muted text-center">ou</span>
                                @Html.ActionLink("Cadastre-se", "cadastrar", null, null)
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>

