@model IEnumerable<Migx.Web.Models.TimeLineItemModel>

@{
    ViewBag.Title = "Index";
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <figure class="white">
            <a href="@Url.Action("Detalhes", "TimeLine", new { idTimeLine = item.Id })">
                @if (item.Fotos != null && item.Fotos.Count > 0)
                {
                    <img src="~/Content/Images/@item.UsuarioID/@item.Fotos[0].Id@item.Fotos[0].Extensao" />
                }
                else
                {
                    <img src="/Content/Images/PictureNotFound.jpg"/>
                }
                <dl>
                    <dt>@Html.DisplayFor(modelItem => item.Nome)</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Descricao)</dd>
                </dl>
            </a>
            <div id="wrapper-part-info">
                <div class="part-info-image">
                    @*<img src="/Content/Images/PictureNotFound.jpg" width="28" height="28" />*@
                </div>
                <div id="part-info">@Html.DisplayFor(modelItem => item.Nome)</div>
            </div>
        </figure>
    }


    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @if (item.Fotos != null && item.Fotos.Count > 0)
                    {
                        <img src="~/Content/Images/@item.UsuarioID/@item.Fotos[0].Id@item.Fotos[0].Extensao" width="50" height="50" />
                    }
                    else
                    {
                        <img src="/Content/Images/PictureNotFound.jpg" width="28" height="28" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Detalhes", new { idTimeLine = item.Id })
                </td>
            </tr>
        }
    </table>*@


}
