<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link href="../../Content/font.css" rel="stylesheet" type="text/css">
    <link href="../../Content/stylep.css" rel="stylesheet" type="text/css">



    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "TimeLine")" class="navbar-brand"> <img class="" src="@Url.Content("~/Content/Images/logo.png")"></a>
            </div>

            <div class="navbar-collapse collapse">
                <div class="col-sm-3 col-md-8">
                    <form class="navbar-form" method="get" action="@Url.Action("Buscar","Busca")">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("MeusDados","Usuario")"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li class="button__menu"><a href="@Url.Action("Index","Notificacao")"><span class="glyphicon glyphicon-info-sign"></span><span id="notficacao" class=""></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
                    <li><a href="@Url.Action("Signout","Login")"><span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>

            </div>
        </div>
    </div>

    <div id="wrapper-container">
    
		<div class="container object">

			<div id="main-container-image" style="opacity: 1;">                       
					<section class="work">
                        @RenderBody()
					</section>                    
				</div>            	    
		</div>

</div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("TemNotificacao", "Notificacao")',
            datatype: 'json',
            traditional: true,
            success: function (data) {
                if (data) {
                    $("#notficacao").text("!");
                }
                else
                {
                    $("#notficacao").text("");
                }
            }
        });

    });
</script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>